body {
  background-color: #e7ecf2;
  margin: 0 auto;
  min-width: 1200px;
}

.container {
  width: 250px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 3rem;
  margin-bottom: 20px;
}

.photo {
  display: block;
  margin: 0 auto;
}

.info {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: #f3f6f9;
}

.name {
  text-align: center;
}

.tag {
  text-align: center;
}

.location {
  text-align: center;
}
